.movie-carousel-container{
    width: 100svw;
    background-color: black;
    position: relative;

    .movie-buttons-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;

        .play-button-icon-container{
            padding: 0;
            margin: 0;
            width: 150px;

            .play-button-icon{
                padding: 0;
                margin: 0;
                color: gold;
                font-size: 3rem;
                cursor: pointer;
                opacity: 0.5;
                transition: opacity 300ms;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    .movie-card-container{
        height: 550px;
        background-color: black;

        .movie-card{
            --_img: url('https://media.themoviedb.org/t/p/original/maFjKnJ62hDQ9E66dKqDZgbUy0H.jpg');
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: linear-gradient(#0000, #000), var(--_img);
        }

        .movie-detail{
            position: absolute;
            top: 200px;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
    }

    .movie-title{
        color: #fff;
        display: flex;
        align-items: center;
    }

    .movie-poster{
        height: 300px;
        border-radius: 10px;
        overflow: clip;
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 70%);

        img{
            height: 100%;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .movie-detail{
        flex-direction: column;
        align-items: center;
        top: 20px;
    }
}